{% extends "base.html" %}

{% block page_title %}
    User Profile
{% endblock page_title %}

{% block content %}

    <div class="min-h-screen">
        <div class="container lg:w-5/12 md:w-1/2 xl:w-2/5 mx-auto flex flex-col items-center border p-6 border-gray-400">

            {% include "mixins/user_avatar.html" with user=user_obj %}
                
            <div class="flex items-center mt-3">
                <span class="font-bold text-3xl">{{user_obj.first_name}}</span>
                {% if user_obj.superhost %}
                    <i class="fas fa-check-circle text-green-500 ml-2"></i>
                {% endif %}
            </div>

            <span class="mt-2">{{user_obj.bio}}</span>
            
            {% if user == user_obj %}
                <a href="#" class="link-btn mt-10">Edit Profile</a>
            {% endif %}

        </div>
        <div class="flex flex-col items-center mt-10 w-full">
            {% if user_obj.rooms.count %}
                <h3 class="font-bold text-2xl">{{user_obj.first_name}}'s Rooms</h3>
                <div class="flex flex-wrap mb-10 mt-10 w-full {% if user_obj.rooms.count < 4 %} justify-center {% endif %}">
                    {% for room in user_obj.rooms.all %}
                        {% include "mixins/room_card.html" with room=room %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock content %}